
@{
    ViewBag.Title = "About";
}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<div class="panel panel-default">
    <div class="panel-heading">Explicación de cálculos</div>
    <div class="panel-body">
        <div id="readme" class="readme blob instapaper_body">
            <article class="markdown-body entry-content" itemprop="text">

                <h2>
                    <a id="user-content-calculo-de-carbono-presente"
                       class="anchor"
                       aria-hidden="true"
                       href="#calculo-de-carbono-presente">
                        <svg aria-hidden="true"
                             class="octicon octicon-link"
                             height="16"
                             version="1.1"
                             viewBox="0 0 16 16"
                             width="16">
                            <path fill-rule="evenodd"
                                  d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
                            </path>
                        </svg>
                    </a>
                    CARBONO ACTUAL EN LA BIOMASA AÉREA DE PLANTACIONES FORESTALES
                </h2>
                <p>
                    Es una herramienta que permite estimar el contenido de
                    carbono en la biomasa por encima del suelo para 28
                    especies en plantaciones forestales, mediante métodos y
                    parámetros de uso internacional y mediante la utilización
                    de variables dasométricas representativas de cada sitio,
                    utilizando resultados derivados de la dinámica de crecimiento 
                    de las plantaciones forestales a nivel nacional mediante el
                    establecimiento y mantenimiento de parcelas permanentes de
                    medición forestal. La metodología se divide en dos procesos
                    fundamentales, el primero consiste en el cálculo del volumen
                    total y el segundo en el cálculo de carbono en la biomasa 
                    aérea, tal como se describe a continuación:
                </p>

                <h3>
                    1.	EXPLICACIÓN DEL CÁLCULO DE VOLUMEN MADERABLE
                </h3>
                <p>
                    Primero se realiza el cálculo del área basal, utilizando los
                    promedios DAP de los individuos muestreados. El área basal
                    (AB) se define como la sumatoria de las áreas transversales de todos
                    los fustes existentes en el área definida (hectárea) a
                    una altura de 1.30 metros sobre el suelo y se expresa en
                    m<sup>2</sup>/ha; la fórmula para calcularla es la
                    siguiente:
                </p>
                <p>
                    $$AB = (0.7854)*DAP^2*N$$
                </p>
                Donde:
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th width="20%">
                                AB
                            </th>
                            <td width="80%">
                                Área basal expresada en
                                metros cuadrados por hectárea (m<sup>2</sup>/ha).
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                0.7854
                            </th>
                            <td>
                                Valor constante,
                                equivalente a  &pi; / 4.
                            </td>
                        </tr>
                        <tr>
                            <th>
                                DAP
                            </th>
                            <td>
                                (Diámetro a la altura del pecho) medido a 1.30m
                                por encima de la base del árbol, se utiliza el
                                valor promedio expresado en metros.
                            </td>
                        </tr>
                        <tr>
                            <th>
                                N
                            </th>
                            <td>
                                Representa el número promedio de árboles por una
                                hectárea reforestada.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    Posterior al cálculo del área basal (AB) se procede a
                    utilizar la fórmula de volumen, mediante la utilización del
                    valor de la altura total promedio de la plantación, el
                    valor de área basal y un coeficiente de forma (relación
                    entre el volumen real y el volumen aparente de un árbol) de
                    la manera siguiente:
                </p>
                <p>
                    $$Vol. Total = AB * ALTURA * F.F.$$
                </p>
                Donde:
                <div class="col-sm-12">
                    <table class="table table-responsive">
                        <thead>
                            <tr with="100%">
                                <th width="20%">
                                    Vol. Total
                                </th>
                                <td width="80%">
                                    Volumen total expresado en metros cúbicos por
                                    hectárea (m<sup>3</sup>/ha).
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    AB
                                </th>
                                <td>
                                    Área basal expresada en
                                    metros cuadrados por hectárea (m<sup>2</sup>/ha)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    ALTURA
                                </th>
                                <td>
                                    Se considera la altura total del árbol
                                    expresada en metros.
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    F.F.
                                </th>
                                <td>
                                    Factor de forma constante (0.5) para la
                                    especie seleccionada.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h3>
                    2.	CÁLCULO DEL CONTENIDO DE CARBONO EN LA BIOMASA AÉREA
                </h3>
                <p>
                    Habiendo obtenido el valor del volumen total por
                    hectárea (m<sup>3</sup>/ha), se procede a calcular el
                    contenido de carbono, que es el producto del volumen
                    multiplicado por el contenido de materia seca (% MS, se
                    consideró 50%, es decir, la densidad de la madera, que se 
                    expresa como 0.5 t/m<sup>3</sup>) y por el contenido de carbono
                    en la metería seca (%C = 50% aceptado por el IPCC); por último,
                    se aplica un factor de extensión de la biomasa (FEB) igual a 
                    1.6 considerando un 60% adicional de biomasa contenida en 
                    ramas y follaje, (en la literatura este factor se menciona
                    con rango entre el 60% y el 90%), el cálculo de Carbono por
                    encima del selo resulta de utilizar la siguiente fórmula:
                </p>
                <p>
                    $$Carbono = Vol. {m^3 \over ha} * 0.5(t \over m^3) * 50% C * 1.60$$
                </p>

                <h2>
                    <a id="user-content-calculo-de-carbono-presente"
                       class="anchor"
                       aria-hidden="true"
                       href="#calculo-de-carbono-presente">
                        <svg aria-hidden="true"
                             class="octicon octicon-link"
                             height="16"
                             version="1.1"
                             viewBox="0 0 16 16"
                             width="16">
                            <path fill-rule="evenodd"
                                  d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
                            </path>
                        </svg>
                    </a>
                    CÁLCULO DE CARBONO PROYECTADO EN LA BIOMASA AÉREA DE PLANTACIONES
                    FORESTALES
                </h2>
                <p>
                    El principio es el mismo que el utilizado en el cálculo de
                    carbono actual, con relación al cálculo del contenido de
                    carbono en la biomasa aérea; la variante del cálculo
                    proyectado reside en la forma en la cual se calcula el
                    volumen, ya que en este caso se realiza mediante la sustitución
                    de las variables de índice de sitio "S" (que representa la
                    altura domínante de la plantación en metros), la sustitución
                    de la densidad o número de árboles por hectárea "N" y la 
                    sustitución de la edad de la plantación "T" expresada en años,
                    mediante la utilización de ecuaciones de predicción del 
                    volumen, como parte de los modelos de predicción generados
                    en el documento “Dinámica de crecimiento y productividad de
                    28 especies forestales en Guatemala” realizado a partir de
                    la medición consecutiva de parcelas permanentes de medición
                    forestal a nivel nacional. A continuación, un ejemplo de la
                    familia de modelos de crecimiento para la especie Melina
                    Gmelina arborea Roxb; el volumen resultante se expresa en m
                    <sup>3</sup>/ha.
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Variable</th>
                            <th>Modelo de crecimiento</th>
                            <th>$$R^2$$</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th width="30%">Altura dominante (m)</th>
                            <td width="55%">
                                $e^{(\ln(S) - 4.589766({1 \over T} - 0.1))}$
                            </td>
                            <td width="15%">0.51</td>
                        </tr>
                        <tr>
                            <th>Diámetro (cm)</th>
                            <td>
                                $e^{(2.476769 - {3.669808 \over T} + 0.048356 * S - 0.000258 * N)}$
                            </td>
                            <td>0.87</td>
                        </tr>
                        <tr>
                            <th>Área basal (m<sup>2</sup>/ha)</th>
                            <td>
                                $e^{(0.780617 - {7.094758 \over T} + 0.092946 * S - 0.001186 * N)}$
                            </td>
                            <td>0.82</td>
                        </tr>
                        <tr>
                            <th>Volumen total (m<sup>3</sup>/ha)</th>
                            <td>
                                $e^{(1.918322 - {11.678936 \over T} + 0.16806 * S - 0.001068 * N)}$
                            </td>
                            <td>0.90</td>
                        </tr>
                        <tr>
                            <th>Índice de sitio</th>
                            <td>
                                $e^{(\ln(H) + 4.589766 *( { 1 \over T } - 0.1 ))}$
                            </td>
                            <td>0.51</td>
                        </tr>
                    </tbody>
                </table>
                <p align="center">
                    <small>
                        *** Todas las ecuaciones de las especies se encuentran
                        disponibles en la sección "Descargas importantes"
                    </small>
                </p>
                <p>
                    El cálculo del contenido de carbono en la biomasa aérea se
                    hace después de haber obtenido el valor del volumen total
                    por hectárea (m^3/ha), procediendo a calcular el contenido
                    de carbono, que es el producto del volumen multiplicado por
                    el contenido de materia seca (%MS, se consideró 50%, es decir,
                    la densidad de la madera, que se expresa en 0.5 t/m<sup>3</sup>),
                    por el contenido de carbono en la materia seca (%C = 50% aceptado
                    el IPCC, expresado como una constante de 0.5) y por último se
                    aplica el factor de extensión de la biomasa (FEB) igual a 
                    1.6 considerando un 60% adicional de contenido de biomasa
                    contenida en ramas y follaje (en la literatura este factor
                    se menciona con rango entre el 60% y el 90%), el cálculo de
                    Carbono por encima del suelo resulta de utilizar la siguiente
                    fórmula:
                </p>
                <p align="center">
                    $$Carbono = Vol. {m^3 \over ha} * 0.5 (t/m^3) * 50% C * 1.60$$
                </p>
                <p>
                    Para conocer la fuente original de los cálculos, se 
                    recomienda explorar el siguiente vinculo que despliega el
                    documento denominado 
                    <a href="https://es.scribd.com/doc/29369907/Guia-Practica-de-Medicion-de-Carbono-en-la-Biomasa-Forestal">
                        “Guía práctica para la medición de lacaptura de Carbono
                        en la Biomasa forestal”.
                    </a>
                </p>
                <p>
                    Así mismo, se recomienda visitar el vínculo donde se
                    encuentra disponible el documento generado por el
                    IPCC -Panel Intergubernamental sobre el Cambio Climático-
                    donde disponen las directrices para los inventarios
                    nacionales de gases de efecto invernadero en tierras
                    forestales, el cuál puede descargarlo en el siguiente
                    vínculo:
                </p>
                <p>
                    https://www.ipccnggip.iges.or.jp/public/2006gl/spanish/pdf/4_Volume4/v4_04_Ch4_Forest_Land.pdf
                </p>


            </article>
        </div>
    </div>
    <!--

    <div class="panel-body">
        <div id="readme" class="readme blob instapaper_body">
            <article class="markdown-body entry-content" itemprop="text">
                <p>
                    El
                    Detalle del procedimiento para realizar la medicion de captura de carbono en la biomasa forestal.
                </p>
                <h2>
                    <a id="user-content-calculo-de-carbono-presente"
                       class="anchor" 
                       aria-hidden="true" 
                       href="#calculo-de-carbono-presente">
                        <svg aria-hidden="true" 
                             class="octicon octicon-link" 
                             height="16" 
                             version="1.1" 
                             viewBox="0 0 16 16" 
                             width="16">
                            <path fill-rule="evenodd" 
                                  d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
                            </path>
                        </svg>
                    </a>
                    Calculo de carbono presente
                </h2>

                <p>El calculo se divide en dos pasos simples:</p>
                <ul>
                    <li>Calculo de volumen maderable</li>
                    <li>Calculo de contenido de carbono</li>
                </ul>
                <h3><a href="#calculo-de-volumen-maderable" aria-hidden="true" class="anchor" id="user-content-calculo-de-volumen-maderable"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Calculo de volumen maderable</h3>
                <p>
                    Primero se realiza el calculo del area basal en cada una de las unidades muestrales.
                    El área basal (AB) es la sumatoria de las áreas transversales de todos los árboles con
                    un diámetro mayor a 10 cm existentes en el área definida (héctarea) y se expresa en ${m^2 \over ha}$    
                    $$ AB = \sum_{i=1}^{n} at_i $$                    
                    $$AB = [(DAP_{media})^2 * 0.7854] * N $$
                </p>
                <h3><a href="#calculo-de-contenido-de-carbono" aria-hidden="true" class="anchor" id="user-content-calculo-de-contenido-de-carbono"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Calculo de contenido de carbono</h3>
                <p>
                    El carbono se obtiene del producto del volumen multiplicado por el contenido de materia seca
                    (%MS) y por el cotenido de carbono en la MS (% C = 50% aceptado por el IPCC):<br />
                    $$C = Vol * MS\% * CMS$$
                </p>
                <p>A esta cantidad de Carbono se le aplica el Factor de Extensión de la biomasa</p>
                <p><a href="https://github.com/durini309/carbon_calculator/blob/master/medicion_simple.pdf">Ingresa aquí para una explicación más detallada</a></p>
                <h2><a href="#calculo-de-carbono-proyectado" aria-hidden="true" class="anchor" id="user-content-calculo-de-carbono-proyectado"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Calculo de carbono proyectado</h2>
                <p>Para realizar las proyecciones de cálculo de carbono se utilizaron las formulas en funcion del tiempo encontradas en este <a href="/durini309/carbon_calculator/blob/master/www.google.com">estudio</a> teórico.</p>
                <p>
                    Para cada especie definida se tenían formulas especificas de como calcular el valor del carbono en el tiempo.
                    En este espacio documentaremos como se realizaban los calculos de la especie <strong>Pino candelillo</strong>:
                </p>
                <ul>
                    <li>Altura dominante (m): $e^{(\ln(s) - 6.96328({1 \over T} - 0.1))}$</li>
                    <li>Diámetro (cm): $e^{(2.853221 - {5.94932 \over T} + 0.055943(S) - 0.000218(N))}$</li>
                    <li>Área basal (${m^2 \over ha}$): $e^{(1.91575 - {11.592777 \over T} + 0.100823(S) + 0.000843(N))}$</li>
                    <li>Volumen total (${m^3 \over ha}$): $e^{(3.160695 - {18.203956 \over T} + 0.182736(S) + 0.000775(N))}$</li>
                    <li>Contenido de carbono: Volumen total * % Materia Seca * CMS</li>
                </ul>
                <p>Donde <i>S</i> es el indice de sitio, <i>T</i> es el tiempo, <i>N</i> es la cantidad de árboles.</p>

            </article>
        </div>
    </div>

    -->
</div>

